In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import os
%matplotlib inline

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join('', "../295273672130-cur-with-tags-2021-0*.csv"))))

df.head()

,InvoiceID,PayerAccountId,LinkedAccountId,RecordId,ProductName,UsageType,Operation,AvailabilityZone,ReservedInstance,ItemDescription,UsageStartDate,UsageEndDate,UsageQuantity,UnblendedRate,UnBlendedCost,ResourceId,aws_createdBy,user_Division,user_ENV,user_project
0,814115953.0,9.618588e+11,2.952737e+11,LineItem,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,N,Tax for product code 6nx35tuf44c0flgw09r1z9nrn...,2021-07-01T00:00:00Z,2021-08-01T00:00:00Z,1.0,NaN,14.04,NaN,NaN,NaN,NaN,NaN
1,814115953.0,9.618588e+11,2.952737e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,N,Tax for product code b4oaowtu943z36a9jxepql6gh...,2021-07-01T00:00:00Z,2021-08-01T00:00:00Z,1.0,NaN,5.25,NaN,NaN,NaN,NaN,NaN
2,814115953.0,9.618588e+11,2.952737e+11,LineItem,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.4,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan,NaN,OpenVPNAccess-100-dbankuat,NaN
3,814115953.0,9.618588e+11,2.952737e+11,LineItem,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.4,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan,NaN,OpenVPNAccess-100-dbankut,NaN
4,814115953.0,9.618588e+11,2.952737e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.3,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao,NaN,OpenVPNAccess-50-DT,NaN

In [3]:
for col in df:
    print(col + ': '+ str(len(df[col].unique())))

InvoiceID: 10
PayerAccountId: 2
LinkedAccountId: 2
RecordId: 1
ProductName: 40
UsageType: 535
Operation: 228
AvailabilityZone: 17
ReservedInstance: 1
ItemDescription: 817
UsageStartDate: 4344
UsageEndDate: 4359
UsageQuantity: 112441
UnblendedRate: 128
UnBlendedCost: 56215
ResourceId: 2617
aws_createdBy: 28
user_Division: 1
user_ENV: 6
user_project: 2

In [4]:
len(df)

851245

In [5]:
# drop the unique value
df = df.drop(columns=['InvoiceID', 'PayerAccountId', 'LinkedAccountId', 'RecordId', 'ReservedInstance', 'user_Division', 'user_ENV','UnblendedRate', 'user_project'])
# drop ItemDescription for already exist feature
df = df.drop(columns=['ItemDescription'])

df.head(10)

,ProductName,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnBlendedCost,ResourceId,aws_createdBy
0,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,2021-07-01T00:00:00Z,2021-08-01T00:00:00Z,1.0,14.04,NaN,NaN
1,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,2021-07-01T00:00:00Z,2021-08-01T00:00:00Z,1.0,5.25,NaN,NaN
2,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan
3,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan
4,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
5,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T01:00:00Z,2021-07-01T02:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan
6,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T01:00:00Z,2021-07-01T02:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan
7,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T01:00:00Z,2021-07-01T02:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
8,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T02:00:00Z,2021-07-01T03:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan
9,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T02:00:00Z,2021-07-01T03:00:00Z,1.0,0.40,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan

In [6]:
c = 0
for n in range(len(df_test)):
    try:
        end = df_test.iloc[n,:]['UsageEndDate']
        start = df_test.iloc[n+1,:]['UsageStartDate']
        print(end)
        print(start)
        if start == end:
            c +=1
            print(c)
#         else:
#             print('set time', c)
#             c=0
    except:
        print(df_test.iloc[n,:]['UsageEndDate'])

2021-03-01T00:00:00Z
2021-02-01T00:00:00Z
2021-02-01T01:00:00Z
2021-02-01T01:00:00Z
1
2021-02-01T02:00:00Z
2021-02-01T02:00:00Z
2
2021-02-01T03:00:00Z
2021-02-01T03:00:00Z
3
2021-02-01T04:00:00Z
2021-02-01T04:00:00Z
4
2021-02-01T05:00:00Z
2021-02-01T05:00:00Z
5
2021-02-01T06:00:00Z
2021-02-01T06:00:00Z
6
2021-02-01T07:00:00Z
2021-02-01T07:00:00Z
7
2021-02-01T08:00:00Z
2021-02-01T08:00:00Z
8
2021-02-01T09:00:00Z

In [6]:
df['Operation'].unique()

array(['Hourly', 'RunInstances', nan, 'ApiGatewayRequest', 'PutLogEvents',
       'LoadBalancing', 'LoadBalancing:Network', 'NatGateway',
       'FargateTask', 'CommittedThroughput', 'DashboardHour',
       'RunInstances:SV012', 'PublicIP-In', 'Unknown', 'InterZone-In',
       'PublicIP-Out', 'CreateVolume-Gp2', 'GetQueueAttributes',
       'GetTopicAttributes', 'HeadBucket', 'APN1-TimedStorage-ByteHrs',
       'StandardStorage', 'OneZoneIAStorage', 'OneZoneIASizeOverhead',
       'ReadLocation', 'ReadACL', 'None', 'AAAA',
       'LoadBalancing-PublicIP-In', 'InterZone-Out',
       'LoadBalancing:Application', 'LoadBalancing-PublicIP-Out',
       'USE1-TimedStorage-ByteHrs', 'SecretUsage',
       'ReadBucketPolicyStatus', 'ReadBucketPublicAccessBlock',
       'PutObject', 'Invoke', 'WebACLV2', 'HourlyStorageMetering', 'MX',
       'TimedStorage-ByteHrs', 'MetricStorage', 'Receive', 'A',
       'DescribeKey', 'GetKeyPolicy', 'ListResourceTags',
       'USE2-TimedStorage-ByteHrs', 'PutMetricData', 'NS', 'RuleV2',
       'ListQueueTags', 'SRV', 'TXT', 'CreateSnapshot', 'UNSUPPORTED',
       'DNSKEY', 'AssociateAddressVPC', 'SOA', 'ListTagsForResource',
       'ListAliases', 'DeleteSecret', 'Storage', 'CreateGrant',
       'CreateSecret', 'PutSecretValue', 'CreateDBInstance:0016',
       'ReadBucketServerSideEncryption', 'ListAllMyBuckets',
       'RunInstances:0002', 'ECSTask-EC2', 'RunInstances:0010', 'CNAME',
       'ListRepositories', 'GetSecretValue', 'DescribeSecret',
       'ListSecrets', 'Not Applicable', 'HeadObject',
       'WriteVersioningProps', 'GetObject', 'RunInstances:SV008',
       'GetKeyRotationStatus', 'ANY', 'CAA', 'DS',
       'ReducedRedundancyStorage', 'ListKeys', 'ListTopics',
       'ReadAccelerate', 'ReadBucketMetrics',
       'ReadBucketObjectLockConfig', 'ReadBucketReplication',
       'ReadBucketWebsite', 'ReadCostAllocation', 'ReadLogProps',
       'ReadAccountPublicAccessBlock', 'List', 'ListBucket',
       'ReadBucketAnalytics', 'ReadObjectTagging',
       'CompleteMultipartUpload', 'Decrypt', 'CreateOperation',
       'ExecutionCompleted', 'RunInstances:SV055', 'StateRetry',
       'GetLensConfiguration', 'StartQuery', 'DeleteTopic',
       'ReadBucketIntelligentTiering', 'ReadBucketOwnershipControls',
       'ListBucketVersions', 'ReadVersioningProps', 'WebsiteGetObject',
       'WriteBucketWebsite', 'Task', 'ListSubscriptions',
       'ExecutionStarted', 'MetricStorage:AWS/EC2', 'ListMetrics',
       'Notification', 'CreateTopic', 'Publish', 'CreateBucket',
       'RunService', 'CloudShell data transfer', 'PTR', 'PostObject',
       'Subscribe', 'GetRandomPassword', 'ReadBucketCors',
       'ReadBucketLifecycle', 'UploadPart', 'InitiateMultipartUpload',
       'GetMetricData', 'SetQueueAttributes', 'ReadBucketPolicy',
       'ReadNotificationProps', 'ReadRequestPaymentProps',
       'SubscriptionConfirmation', 'WriteNotificationProps',
       'CreateDBInstance', 'GenerateDataKeyWithoutPlaintext',
       'GetResourcePolicy', 'WriteBucketPolicy', 'WriteCostAllocation',
       'ListSubscriptionsByTopic', 'ReadBucketInventory',
       'GetMetricStatistics', 'GenerateDataKey', 'Create', 'DeleteQueue',
       'SetTopicAttributes', 'Unsubscribe', 'BuildService', 'ListTables',
       'BackupStorage', 'HostedZone', 'SC-API-Call',
       'WriteBucketServerSideEncryption', 'GetOpsSummary',
       'WriteBucketPublicAccessBlock', 'shardHourStorage',
       'CreateDBInstance:0021', 'CreateDBInstance:0014',
       'DeleteMessageBatch', 'GetQueueUrl', 'GetItem', 'Send', 'Scan',
       'EnableKeyRotation', 'ScheduleKeyDeletion',
       'CreateGeofenceCollection', 'CreateTracker', 'WriteACL',
       'UpdateSecret', 'CreateKey', 'DescribeMap', 'ListMaps',
       'CreateMap', 'CreatePlaceIndex', 'DescribeCustomKeyStores',
       'NAPTR', 'DescribeGeofenceCollection', 'DescribePlaceIndex',
       'DescribeTracker', 'SearchPlaceIndexForText', 'ApiGatewayHttpApi',
       'APN2-TimedStorage-ByteHrs', 'GetMapTile', 'CopyObject',
       'AddExternalInstance', 'HostingStorage', 'Non-dominant', 'PutItem',
       'AWSGlobalAccelerator', 'Dominant', 'GET', 'DeleteMessage',
       'DeleteObject', 'HEAD', 'ListContainers', 'CloudShell', 'Rule',
       'CreateDBInstance:0002', 'CreateTable', 'DescribeTable', 'WebACL',
       'CF', 'ImagesProcessed', 'ChangeMessageVisibilityBatch', 'Choice',
       'EBS:IO-Read', 'CreateVolume', 'EBS:IO-Write', 'T3CPUCredits',
       'DeleteBucket', 'RunInstances:0010:SV008',
       'RunInstances:0010:SV012', 'DeleteAlias', 'downloadLayer',
       'SendEmail', 'ListPhoneNumbersOptedOut', 'Call',
       'GetSMSAttributes', 'Build'], dtype=object)

In [7]:
az2op = pd.DataFrame(df[df['AvailabilityZone'].notna()][['AvailabilityZone', 'Operation']].groupby(['AvailabilityZone'])['Operation'].unique())

for each in az2op.iterrows():
    print(each[0])
    print(each[1].tolist())
    print()
    
# AZ可以做啥

ap-northeast-1
[array(['CommittedThroughput', 'StandardStorage', 'CreateDBInstance:0016',
       'GetOpsSummary', 'CreateDBInstance:0002', 'CreateDBInstance'],
      dtype=object)]

ap-northeast-1a
[array(['Hourly', 'RunInstances', 'RunInstances:0002', 'T3CPUCredits',
       'RunInstances:0010'], dtype=object)]

ap-northeast-1c
[array(['RunInstances', 'T3CPUCredits', 'RunInstances:0010'], dtype=object)]

ap-northeast-1d
[array(['RunInstances', 'RunInstances:0010', 'Hourly'], dtype=object)]

ap-northeast-2
[array(['CreateDBInstance:0014', 'CreateDBInstance', 'CommittedThroughput',
       'Not Applicable', 'CreateDBInstance:0021', 'Call'], dtype=object)]

ap-northeast-2a
[array(['RunInstances'], dtype=object)]

ap-northeast-2b
[array(['RunInstances'], dtype=object)]

us-east-1
[array(['CreateDBInstance:0016'], dtype=object)]

us-east-1a
[array(['RunInstances'], dtype=object)]

us-east-2
[array(['CommittedThroughput'], dtype=object)]

us-east-2c
[array(['RunInstances'], dtype=object)]

us-west-1
[array(['Not Applicable', 'CreateDBInstance', 'CreateDBInstance:0014'],
      dtype=object)]

us-west-1a
[array(['RunInstances', 'RunInstances:0002'], dtype=object)]

us-west-1c
[array(['RunInstances'], dtype=object)]

us-west-2a
[array(['RunInstances'], dtype=object)]

us-west-2b
[array(['RunInstances'], dtype=object)]

### By User
1. Find alert threshold (rule-based)
2. model
### By ProductName 
### By Service

In [8]:
df['aws_createdBy'].unique()

array([nan, 'IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan',
       'IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao',
       'AssumedRole:AROAUJP5OVXBEV2S7G5FX:AutoScaling',
       'IAMUser:AIDAUJP5OVXBOT7DP5R6L:YuanyaLin',
       'IAMUser:AIDAUJP5OVXBF6LJ3Z6LL:Sam',
       'IAMUser:AIDAUJP5OVXBGEHPWHNJ5:LeonLin',
       'IAMUser:AIDAUJP5OVXBJXEFEVXCD:jameshsu',
       'IAMUser:AIDAUJP5OVXBFHQXHHQAL:CloudWen',
       'IAMUser:AIDAUJP5OVXBPSQBM33Z2:ct-admin',
       'IAMUser:AIDAUJP5OVXBN5767AAFJ:tinahuang',
       'IAMUser:AIDAUJP5OVXBM3OYALZYN:martinchen',
       'IAMUser:AIDAUJP5OVXBNWGZF4CL5:benkatsai',
       'AssumedRole:AROAUJP5OVXBEGU6HTBBE:i-040c6bcb735a906fb',
       'AssumedRole:AROAUJP5OVXBGXVISPV73:InstanceLaunch',
       'AssumedRole:AROAUJP5OVXBJNU5XSKHI:1626343232219832540',
       'AssumedRole:AROAUJP5OVXBAFD4E2QOK:1626776005471778303',
       'AssumedRole:AROAUJP5OVXBJZCW7TRAG:AWSCloudFormation',
       'AssumedRole:AROAUJP5OVXBFJWVH76AR:1623329908186889278',
       'AssumedRole:AROAUJP5OVXBIIVB5F65L:AWSCloud9Workspace-295273672130',
       'AssumedRole:AROAUJP5OVXBKVA73DLGN:4fb76149-fb98-424f-9131-55aea6c7b652',
       'IAMUser:AIDAUJP5OVXBLMVLEBKCK:tempuser',
       'IAMUser:AIDAUJP5OVXBPVPLIQ7CK:jaychang02',
       'AssumedRole:AROAUJP5OVXBK7VONHMLJ:1604267547898754961',
       'IAMUser:AIDAUJP5OVXBJUIVZMVBC:marcuskuo',
       'AssumedRole:AROAUJP5OVXBK7VONHMLJ:1611357218428526888',
       'AssumedRole:AROAUJP5OVXBFJJ2HV7HZ:3479c807-942e-40e8-816b-6b421e772c90',
       'AssumedRole:AROAUJP5OVXBEY3R3FKMV:bc6d408d-7ec6-48d9-a62c-d8141db0'],
      dtype=object)

In [9]:
createby_df = df.dropna(subset=['aws_createdBy'])
iam_df = createby_df[createby_df['aws_createdBy'].str.contains('IAMUser')].copy()
iam_df['aws_createdBy'] = iam_df['aws_createdBy'].apply(lambda x: x[30:])

# iam_df
iam_df['aws_createdBy'].unique()
#使用頻率高、使用服務user

array(['neilguan', 'Jaden.Mao', 'YuanyaLin', 'Sam', 'LeonLin', 'jameshsu',
       'CloudWen', 'ct-admin', 'tinahuang', 'martinchen', 'benkatsai',
       'tempuser', 'jaychang02', 'marcuskuo'], dtype=object)

In [10]:
iam_df.groupby(by='ProductName').count()

,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnBlendedCost,ResourceId,aws_createdBy
ProductName,,,,,,,,,
Amazon Elastic Compute Cloud,117755,117755,24617,117755,117755,117755,117755,117755,117755
Amazon Kinesis,3030,3030,0,3030,3030,3030,3030,3030,3030
Amazon Relational Database Service,7177,7177,3585,7177,7177,7177,7177,7177,7177
Amazon Route 53,16277,16277,0,16277,16277,16277,16277,16277,16277
Amazon Simple Storage Service,76004,76004,0,76004,76004,76004,76004,76004,76004
OpenVPN Access Server (100 Connected Devices),1064,1064,1064,1064,1064,1064,1064,1064,1064
OpenVPN Access Server (5 Connected Devices),1,1,1,1,1,1,1,1,1
OpenVPN Access Server (50 Connected Devices),2376,2376,2376,2376,2376,2376,2376,2376,2376

In [11]:
iam_df = iam_df.reset_index(drop=True)
temp = iam_df.copy()
num = iam_df.shape[0]
time = 1
arr =[]
place=[0]
for n in range(num):
    try:
        if n==num-1:
            arr.append(1)
            break
        nex = n+1
        nex2 = n+2
        first = iam_df.iloc[n:nex]['UsageEndDate'].squeeze()
        second = iam_df.iloc[nex:nex2]['UsageStartDate'].squeeze()
        if first == second:
            place.append(n)
            start_index = place[1]
            time += 1
            temp = temp.drop(nex)
        else:
            
            arr.append(time)
            if time > 1:
                temp.loc[start_index,'UsageEndDate']=iam_df.iloc[start_index+time-1,:]['UsageStartDate'] # set the new UsageEndDate
            time = 1
            place=[]
            place.append(n)
    except:
        print(n)
        temp['period(h)']=arr

In [18]:
iam_df = temp.copy()

In [19]:
iam_df

,ProductName,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnBlendedCost,ResourceId,aws_createdBy,period(h)
0,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.000000e+00,4.000000e-01,arn:aws:ec2:ap-northeast-1:295273672130:instan...,neilguan,1
1,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.000000e+00,4.000000e-01,arn:aws:ec2:ap-northeast-1:295273672130:instan...,neilguan,1
2,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T00:00:00Z,2021-07-01T01:00:00Z,1.000000e+00,3.000000e-01,arn:aws:ec2:ap-northeast-1:295273672130:instan...,Jaden.Mao,2
4,OpenVPN Access Server (100 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T01:00:00Z,2021-07-01T02:00:00Z,1.000000e+00,4.000000e-01,arn:aws:ec2:ap-northeast-1:295273672130:instan...,neilguan,1
5,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-07-01T01:00:00Z,2021-07-01T02:00:00Z,1.000000e+00,3.000000e-01,arn:aws:ec2:ap-northeast-1:295273672130:instan...,Jaden.Mao,2
...,...,...,...,...,...,...,...,...,...,...,...
223679,Amazon Relational Database Service,APN2-RDS:GP2-Storage,CreateDBInstance,ap-northeast-2,2021-03-31T23:00:00Z,2021-04-01T00:00:00Z,2.688172e-02,3.521505e-03,arn:aws:rds:ap-northeast-2:295273672130:db:dat...,Jaden.Mao,1
223680,Amazon Simple Storage Service,APS1-APN1-AWS-Out-Bytes,ReadACL,NaN,2021-03-31T23:00:00Z,2021-04-01T00:00:00Z,4.008400e-06,3.608000e-07,aws-cloudtrail-logs-295273672130-management-ev...,Jaden.Mao,1
223681,Amazon Simple Storage Service,APS1-Requests-Tier2,ReadACL,NaN,2021-03-31T23:00:00Z,2021-04-01T00:00:00Z,8.000000e+00,3.200000e-06,aws-cloudtrail-logs-295273672130-management-ev...,Jaden.Mao,1
223682,Amazon Elastic Compute Cloud,USW1-BoxUsage:t3.xlarge,RunInstances,us-west-1a,2021-03-31T23:00:00Z,2021-04-01T00:00:00Z,1.000000e+00,1.984000e-01,i-0666795165a94dc13,CloudWen,1
223683,Amazon Elastic Compute Cloud,USW1-DataTransfer-Out-Bytes,RunInstances,NaN,2021-03-31T23:00:00Z,2021-04-01T00:00:00Z,2.123000e-07,1.910000e-08,i-0666795165a94dc13,CloudWen,1

In [55]:
iam_df.groupby(['aws_createdBy']).apply(lambda x: (x.groupby('ProductName')
                                      .sum()
                                      .sort_values('period(h)', ascending=False))
                                     .head(5))

                                                             UsageQuantity  \
aws_createdBy ProductName
CloudWen      Amazon Elastic Compute Cloud                     8094.541640
              Amazon Simple Storage Service                    4026.001269
              Amazon Relational Database Service                  1.015441
Jaden.Mao     Amazon Simple Storage Service                  430074.732734
              Amazon Elastic Compute Cloud                     3610.188174
              Amazon Relational Database Service               1719.256327
              OpenVPN Access Server (50 Connected Devices)      895.000000
LeonLin       Amazon Simple Storage Service                    2600.363106
Sam           Amazon Elastic Compute Cloud                      840.313158
              Amazon Kinesis                                   2537.946944
              Amazon Simple Storage Service                    2267.728777
YuanyaLin     Amazon Elastic Compute Cloud                       84.425344
              Amazon Simple Storage Service                     448.000009
benkatsai     Amazon Elastic Compute Cloud                     1291.803209
ct-admin      Amazon Elastic Compute Cloud                      216.385296
              Amazon Simple Storage Service                    1397.002799
jameshsu      Amazon Simple Storage Service                    1288.000627
jaychang02    Amazon Elastic Compute Cloud                       13.275490
marcuskuo     Amazon Elastic Compute Cloud                       83.386146
martinchen    Amazon Simple Storage Service                     821.000087
neilguan      Amazon Elastic Compute Cloud                     3455.600600
              Amazon Route 53                                269323.000000
              Amazon Simple Storage Service                   13306.077170
              OpenVPN Access Server (50 Connected Devices)      311.000000
              OpenVPN Access Server (100 Connected Devices)     567.000000
tempuser      Amazon Simple Storage Service                      30.000562
tinahuang     Amazon Simple Storage Service                    2391.580922
              Amazon Elastic Compute Cloud                        1.022635

                                                             UnBlendedCost  \
aws_createdBy ProductName
CloudWen      Amazon Elastic Compute Cloud                     1506.713948
              Amazon Simple Storage Service                       0.001989
              Amazon Relational Database Service                  0.249814
Jaden.Mao     Amazon Simple Storage Service                       1.802924
              Amazon Elastic Compute Cloud                      181.970376
              Amazon Relational Database Service                100.577260
              OpenVPN Access Server (50 Connected Devices)      268.500000
LeonLin       Amazon Simple Storage Service                       0.001229
Sam           Amazon Elastic Compute Cloud                       28.771925
              Amazon Kinesis                                     49.489965
              Amazon Simple Storage Service                       5.485366
YuanyaLin     Amazon Elastic Compute Cloud                        0.646068
              Amazon Simple Storage Service                       0.000337
benkatsai     Amazon Elastic Compute Cloud                      120.600674
ct-admin      Amazon Elastic Compute Cloud                        3.214723
              Amazon Simple Storage Service                       0.000676
jameshsu      Amazon Simple Storage Service                       0.000534
jaychang02    Amazon Elastic Compute Cloud                        0.186520
marcuskuo     Amazon Elastic Compute Cloud                        1.267771
martinchen    Amazon Simple Storage Service                       0.000441
neilguan      Amazon Elastic Compute Cloud                      388.915249
              Amazon Route 53                                     1.933473
              Amazon Simple Storage Service                       0.041158
              OpenVPN Access Server (50 Connected Devices)       93.300000
              OpenVPN Access Server (100 Connected Devices)     226.800000
tempuser      Amazon Simple Storage Service                       0.000051
tinahuang     Amazon Simple Storage Service                       0.029384
              Amazon Elastic Compute Cloud                        0.015488

                                                             period(h)
aws_createdBy ProductName
CloudWen      Amazon Elastic Compute Cloud                       52994
              Amazon Simple Storage Service                       6446
              Amazon Relational Database Service                    27
Jaden.Mao     Amazon Simple Storage Service                      51616
              Amazon Elastic Compute Cloud                       23429
              Amazon Relational Database Service                  6621
              OpenVPN Access Server (50 Connected Devices)        2278
LeonLin       Amazon Simple Storage Service                       4420
Sam           Amazon Elastic Compute Cloud                        4668
              Amazon Kinesis                                      2548
              Amazon Simple Storage Service                       1970
YuanyaLin     Amazon Elastic Compute Cloud                         369
              Amazon Simple Storage Service                        125
benkatsai     Amazon Elastic Compute Cloud                       13174
ct-admin      Amazon Elastic Compute Cloud                        1529
              Amazon Simple Storage Service                       1234
jameshsu      Amazon Simple Storage Service                       1912
jaychang02    Amazon Elastic Compute Cloud                          91
marcuskuo     Amazon Elastic Compute Cloud                         360
martinchen    Amazon Simple Storage Service                       1107
neilguan      Amazon Elastic Compute Cloud                       18355
              Amazon Route 53                                    17973
              Amazon Simple Storage Service                       8151
              OpenVPN Access Server (50 Connected Devices)         595
              OpenVPN Access Server (100 Connected Devices)        567
tempuser      Amazon Simple Storage Service                         20
tinahuang     Amazon Simple Storage Service                       1080
              Amazon Elastic Compute Cloud                           7

In [20]:
iam_col = iam_df.columns.tolist()
iam_col.remove('UsageStartDate')
iam_col.remove('UsageEndDate')
iam_col.remove('UsageQuantity')
iam_col.remove('UnBlendedCost')
iam_col.remove('AvailabilityZone')
iam_col.remove('aws_createdBy')
iam_col.remove('period(h)')

In [21]:
iam_fre_df = iam_df.copy()
def fe_fun(col):
    for i in col:
        fe = iam_fre_df.groupby(i).size()/len(iam_fre_df)
        iam_fre_df.loc[:, i+'_freq_encode'] = iam_fre_df[i].map(fe)

fe_fun(iam_col)

In [22]:
iam_fre_df = iam_fre_df.drop(columns=['ProductName', 'UsageType', 'Operation', 'AvailabilityZone', 'UsageStartDate', 'UsageEndDate','ResourceId'])

In [24]:
iam_fre_df = iam_fre_df.dropna()

In [25]:
iam_fre_df

,UsageQuantity,UnBlendedCost,aws_createdBy,period(h),ProductName_freq_encode,UsageType_freq_encode,Operation_freq_encode,ResourceId_freq_encode
0,1.000000e+00,4.000000e-01,neilguan,1,0.002785,0.008714,0.008960,0.000172
1,1.000000e+00,4.000000e-01,neilguan,1,0.002785,0.008714,0.008960,0.002613
2,1.000000e+00,3.000000e-01,Jaden.Mao,2,0.005924,0.008714,0.008960,0.004397
4,1.000000e+00,4.000000e-01,neilguan,1,0.002785,0.008714,0.008960,0.002613
5,1.000000e+00,3.000000e-01,Jaden.Mao,2,0.005924,0.008714,0.008960,0.004397
...,...,...,...,...,...,...,...,...
223679,2.688172e-02,3.521505e-03,Jaden.Mao,1,0.032677,0.008464,0.008513,0.032347
223680,4.008400e-06,3.608000e-07,Jaden.Mao,1,0.368554,0.022646,0.084590,0.181652
223681,8.000000e+00,3.200000e-06,Jaden.Mao,1,0.368554,0.023908,0.084590,0.181652
223682,1.000000e+00,1.984000e-01,CloudWen,1,0.497802,0.035983,0.323317,0.091369
223683,2.123000e-07,1.910000e-08,CloudWen,1,0.497802,0.039903,0.323317,0.091369

In [26]:
iam_freq_col = iam_fre_df.columns.tolist()
iam_freq_col = iam_freq_col[:2] + iam_freq_col[3:-1]+ [iam_freq_col[2]]
iam_freq_col

['UsageQuantity',
 'UnBlendedCost',
 'period(h)',
 'ProductName_freq_encode',
 'UsageType_freq_encode',
 'Operation_freq_encode',
 'aws_createdBy']

In [27]:
iam_fre_df = iam_fre_df[iam_freq_col]
iam_fre_df

,UsageQuantity,UnBlendedCost,period(h),ProductName_freq_encode,UsageType_freq_encode,Operation_freq_encode,aws_createdBy
0,1.000000e+00,4.000000e-01,1,0.002785,0.008714,0.008960,neilguan
1,1.000000e+00,4.000000e-01,1,0.002785,0.008714,0.008960,neilguan
2,1.000000e+00,3.000000e-01,2,0.005924,0.008714,0.008960,Jaden.Mao
4,1.000000e+00,4.000000e-01,1,0.002785,0.008714,0.008960,neilguan
5,1.000000e+00,3.000000e-01,2,0.005924,0.008714,0.008960,Jaden.Mao
...,...,...,...,...,...,...,...
223679,2.688172e-02,3.521505e-03,1,0.032677,0.008464,0.008513,Jaden.Mao
223680,4.008400e-06,3.608000e-07,1,0.368554,0.022646,0.084590,Jaden.Mao
223681,8.000000e+00,3.200000e-06,1,0.368554,0.023908,0.084590,Jaden.Mao
223682,1.000000e+00,1.984000e-01,1,0.497802,0.035983,0.323317,CloudWen
223683,2.123000e-07,1.910000e-08,1,0.497802,0.039903,0.323317,CloudWen

In [32]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(iam_fre_df.iloc[: , :-1])
iam_fre_scaled = scaler.transform(iam_fre_df.iloc[: , :-1])
iam_fre_df_scaled = pd.DataFrame(iam_fre_scaled, columns = iam_fre_df.columns.tolist()[:-1])
iam_fre_df_scaled['aws_createdBy'] = iam_fre_df.iloc[: , -1]

In [35]:
iam_fre_df_scaled

,UsageQuantity,UnBlendedCost,period(h),ProductName_freq_encode,UsageType_freq_encode,Operation_freq_encode,aws_createdBy
0,-0.180511,7.458780,-0.069335,-2.688990,-1.031232,-1.116494,neilguan
1,-0.180511,7.458780,-0.069335,-2.688990,-1.031232,-1.116494,neilguan
2,-0.180511,5.523233,0.632430,-2.667263,-1.031232,-1.116494,Jaden.Mao
3,-0.180511,7.458780,-0.069335,-2.688990,-1.031232,-1.116494,NaN
4,-0.180511,5.523233,0.632430,-2.667263,-1.031232,-1.116494,neilguan
...,...,...,...,...,...,...,...
203566,-0.245749,-0.215246,-0.069335,-2.482090,-1.042469,-1.120081,Jaden.Mao
203567,-0.247551,-0.283399,-0.069335,-0.157236,-0.406348,-0.509479,Jaden.Mao
203568,0.288772,-0.283344,-0.069335,-0.157236,-0.349721,-0.509479,Jaden.Mao
203569,-0.180511,3.556718,-0.069335,0.737378,0.191874,1.406582,Jaden.Mao
203570,-0.247552,-0.283406,-0.069335,0.737378,0.367705,1.406582,neilguan

In [36]:
from sklearn.cluster import KMeans
import numpy as np
kmeans = KMeans(n_clusters=3, random_state=0).fit(iam_fre_df_scaled.iloc[: , :-1])
user_kmeans = kmeans.labels_
iam_fre_kmeans_df = iam_fre_df_scaled.assign(kmeans = user_kmeans)
iam_fre_kmeans_df['kmeans_num'] = iam_fre_kmeans_df['kmeans']
iam_fre_kmeans_df.iloc[:, -3:].groupby(by=['aws_createdBy', 'kmeans']).count()

                      kmeans_num
aws_createdBy kmeans
CloudWen      0            25419
              1            12883
              2             1726
Jaden.Mao     0            46983
              1            23296
              2             3177
LeonLin       0             2188
              1             1019
              2              161
Sam           0             5424
              1             2765
              2              401
YuanyaLin     0              268
              1              181
              2               26
benkatsai     0             7482
              1             3776
              2              530
ct-admin      0             1689
              1              758
              2              102
jameshsu      0             1025
              1              556
              2               91
jaychang02    0               53
              1               36
              2                2
marcuskuo     0              249
              1               95
              2               15
martinchen    0              549
              1              326
              2               31
neilguan      0            25241
              1            13910
              2             1866
tempuser      0               12
              1                6
              2                2
tinahuang     0              647
              1              389
              2               46

In [30]:
iam_df[iam_df['aws_createdBy'] =='Jaden.Mao'].groupby(by='ProductName').agg(np.std, ddof=0)

,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnblendedRate,UnBlendedCost,ResourceId,aws_createdBy
ProductName,,,,,,,,,,
Amazon Elastic Compute Cloud,NaN,NaN,NaN,NaN,NaN,0.446172,4.767083e-02,2.530219e-02,NaN,NaN
Amazon Simple Storage Service,NaN,NaN,NaN,NaN,NaN,14.711801,3.954981e-02,7.802895e-05,NaN,NaN
OpenVPN Access Server (50 Connected Devices),NaN,NaN,NaN,NaN,NaN,0.000000,5.551115e-17,5.551115e-17,NaN,NaN

In [29]:
iam_df[iam_df['aws_createdBy'] =='Jaden.Mao'].groupby(by='ProductName').mean()

,UsageQuantity,UnblendedRate,UnBlendedCost
ProductName,,,
Amazon Elastic Compute Cloud,0.255570,0.047404,0.013550
Amazon Simple Storage Service,5.285276,0.025759,0.000024
OpenVPN Access Server (50 Connected Devices),1.000000,0.300000,0.300000

In [8]:
assume_df = createby_df[createby_df['aws_createdBy'].str.contains('AssumedRole')].copy()
assume_df['aws_createdBy'] = assume_df['aws_createdBy'].apply(lambda x: x[34:])

# assume_df pass
assume_df['aws_createdBy'].unique()

array(['AutoScaling', '1604267547898754961', 'AWSCloudFormation',
       'i-040c6bcb735a906fb', 'AWSCloud9Workspace-295273672130',
       '1611357218428526888', '3479c807-942e-40e8-816b-6b421e772c90'],
      dtype=object)

In [9]:
df['ProductName'].unique()

array(['OpenVPN Access Server (50 Connected Devices)',
       'Amazon Elastic Compute Cloud', 'AmazonCloudWatch',
       'Elastic Load Balancing', 'Amazon Simple Storage Service',
       'AWS Data Transfer', 'AWS Global Accelerator',
       'AWS Secrets Manager', 'Amazon Relational Database Service',
       'AWS Key Management Service', 'Amazon Elastic Container Service',
       'Amazon Elastic Container Service for Kubernetes', 'AWS Amplify',
       'Amazon DynamoDB', 'Amazon Elastic Container Registry Public',
       'Amazon Kinesis', 'Amazon EC2 Container Registry (ECR)',
       'Amazon Elastic File System', 'AWS CloudTrail', 'Amazon Route 53',
       'AWS Lambda', 'Amazon Simple Notification Service',
       'Amazon Simple Queue Service', 'AWS Config', 'AWS Step Functions',
       'AWS CodeArtifact', 'Amazon CloudFront'], dtype=object)

In [11]:
compute_list = ['Amazon Elastic Compute Cloud', 'AWS Lambda',]
network_list = ['Elastic Load Balancing','AWS Global Accelerator','Amazon Route 53','Amazon CloudFront']
storage_list = ['Amazon Simple Storage Service', 'Amazon Elastic File System',]
montr_list = ['AWS CloudTrail', 'AWS Config', ]
app_list = ['Amazon Simple Notification Service', 'Amazon Simple Queue Service', 'AWS Step Functions',]
dev_list = [ 'AWS CodeArtifact',]
sec_list = ['AWS Secrets Manager','AWS Key Management Service',]
db_list = ['Amazon Relational Database Service', 'Amazon DynamoDB',]
ctr_list = ['Amazon Elastic Container Service','Amazon Elastic Container Service for Kubernetes','Amazon Elastic Container Registry Public', 'Amazon EC2 Container Registry (ECR)',]
fe_list = ['AWS Amplify',]
media_list = ['Amazon Kinesis',]

In [20]:
df[df['ProductName'].isin(compute_list)]['Operation'].unique()

array(['RunInstances', 'RunInstances:0010', 'T3CPUCredits',
       'RunInstances:0010:SV008', 'PublicIP-Out', 'InterZone-In',
       'InterZone-Out', 'CreateVolume-Gp2', 'Hourly',
       'AssociateAddressVPC', 'NatGateway', 'AWSGlobalAccelerator',
       'RunInstances:0002', 'PublicIP-In', 'Invoke', 'RunInstances:SV012',
       'RunInstances:SV008', 'CreateSnapshot', 'RunInstances:0010:SV012',
       nan], dtype=object)