In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('../295273672130-cur-with-tags-2021-02.csv')

df.head()

,InvoiceID,PayerAccountId,LinkedAccountId,RecordId,ProductName,UsageType,Operation,AvailabilityZone,ReservedInstance,ItemDescription,UsageStartDate,UsageEndDate,UsageQuantity,UnblendedRate,UnBlendedCost,ResourceId,aws_createdBy,user_Division,user_ENV
0,685231805,9.618590e+11,2.952740e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,N,Tax for product code b4oaowtu943z36a9jxepql6gh...,2021-02-01T00:00:00Z,2021-03-01T00:00:00Z,1.0,NaN,8.73,NaN,NaN,NaN,NaN
1,685231805,9.618590e+11,2.952740e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-02-01T00:00:00Z,2021-02-01T01:00:00Z,1.0,0.3,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao,NaN,NaN
2,685231805,9.618590e+11,2.952740e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-02-01T01:00:00Z,2021-02-01T02:00:00Z,1.0,0.3,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao,NaN,NaN
3,685231805,9.618590e+11,2.952740e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-02-01T02:00:00Z,2021-02-01T03:00:00Z,1.0,0.3,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao,NaN,NaN
4,685231805,9.618590e+11,2.952740e+11,LineItem,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,N,AWS Marketplace hourly software usage|ap-north...,2021-02-01T03:00:00Z,2021-02-01T04:00:00Z,1.0,0.3,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao,NaN,NaN

In [3]:
for col in df:
    print(col + ': '+ str(len(df[col].unique())))

InvoiceID: 2
PayerAccountId: 1
LinkedAccountId: 1
RecordId: 1
ProductName: 27
UsageType: 311
Operation: 149
AvailabilityZone: 10
ReservedInstance: 1
ItemDescription: 403
UsageStartDate: 672
UsageEndDate: 675
UsageQuantity: 28967
UnblendedRate: 74
UnBlendedCost: 15151
ResourceId: 1226
aws_createdBy: 17
user_Division: 1
user_ENV: 1

In [4]:
# drop the unique value
df = df.drop(columns=['InvoiceID', 'PayerAccountId', 'LinkedAccountId', 'RecordId', 'ReservedInstance', 'user_Division', 'user_ENV','UnblendedRate'])
# drop ItemDescription for already exist feature
df = df.drop(columns=['ItemDescription'])

df.head(10)

,ProductName,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnBlendedCost,ResourceId,aws_createdBy
0,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,NaN,2021-02-01T00:00:00Z,2021-03-01T00:00:00Z,1.0,8.73,NaN,NaN
1,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T00:00:00Z,2021-02-01T01:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
2,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T01:00:00Z,2021-02-01T02:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
3,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T02:00:00Z,2021-02-01T03:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
4,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T03:00:00Z,2021-02-01T04:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
5,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T04:00:00Z,2021-02-01T05:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
6,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T05:00:00Z,2021-02-01T06:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
7,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T06:00:00Z,2021-02-01T07:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
8,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T07:00:00Z,2021-02-01T08:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao
9,OpenVPN Access Server (50 Connected Devices),APN1-SoftwareUsage:t3.medium,Hourly,ap-northeast-1a,2021-02-01T08:00:00Z,2021-02-01T09:00:00Z,1.0,0.30,arn:aws:ec2:ap-northeast-1:295273672130:instan...,IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao

In [6]:
c = 0
for n in range(len(df_test)):
    try:
        end = df_test.iloc[n,:]['UsageEndDate']
        start = df_test.iloc[n+1,:]['UsageStartDate']
        print(end)
        print(start)
        if start == end:
            c +=1
            print(c)
#         else:
#             print('set time', c)
#             c=0
    except:
        print(df_test.iloc[n,:]['UsageEndDate'])

2021-03-01T00:00:00Z
2021-02-01T00:00:00Z
2021-02-01T01:00:00Z
2021-02-01T01:00:00Z
1
2021-02-01T02:00:00Z
2021-02-01T02:00:00Z
2
2021-02-01T03:00:00Z
2021-02-01T03:00:00Z
3
2021-02-01T04:00:00Z
2021-02-01T04:00:00Z
4
2021-02-01T05:00:00Z
2021-02-01T05:00:00Z
5
2021-02-01T06:00:00Z
2021-02-01T06:00:00Z
6
2021-02-01T07:00:00Z
2021-02-01T07:00:00Z
7
2021-02-01T08:00:00Z
2021-02-01T08:00:00Z
8
2021-02-01T09:00:00Z

In [7]:
df['Operation'].unique()

array(['Hourly', 'RunInstances', 'RunInstances:0010', 'T3CPUCredits', nan,
       'PutLogEvents', 'LoadBalancing:Network',
       'LoadBalancing:Application', 'CreateDBInstance:0014',
       'RunInstances:0010:SV008', 'FargateTask', 'PublicIP-Out',
       'CreateOperation', 'HostingStorage', 'InterZone-In',
       'InterZone-Out', 'CreateVolume-Gp2', 'AssociateAddressVPC',
       'LoadBalancing', 'NatGateway', 'StandardStorage',
       'ReducedRedundancyStorage', 'CommittedThroughput',
       'AWSGlobalAccelerator', 'PutObject', 'None', 'Dominant',
       'Non-dominant', 'USE1-TimedStorage-ByteHrs',
       'HourlyStorageMetering', 'OneZoneIASizeOverhead', 'Unknown',
       'RunInstances:0002', 'MetricStorage:AWS/EC2', 'PublicIP-In',
       'shardHourStorage', 'APN1-TimedStorage-ByteHrs', 'Storage',
       'LoadBalancing-PublicIP-Out', 'ReadACL', 'UNSUPPORTED',
       'SecretUsage', 'LoadBalancing-PublicIP-In', 'AAAA',
       'USE2-TimedStorage-ByteHrs', 'Invoke', 'RunInstances:SV012', 'A',
       'GetObject', 'Decrypt', 'GetTopicAttributes', 'ListBucketVersions',
       'Publish', 'Subscribe', 'HeadBucket', 'ReadBucketPolicyStatus',
       'ReadBucketPublicAccessBlock', 'ReadVersioningProps',
       'Notification', 'ReadLocation', 'DeleteTopic', 'Unsubscribe',
       'DashboardHour', 'ReadAccountPublicAccessBlock', 'HeadObject',
       'MetricStorage', 'SOA', 'RunInstances:SV008', 'DNSKEY',
       'PutMetricData', 'MX', 'TXT', 'CreateSnapshot',
       'RunInstances:0010:SV012', 'ListAllMyBuckets', 'ListBucket',
       'ReadObjectTagging', 'ReadBucketObjectLockConfig',
       'ReadBucketPolicy', 'ListAliases', 'CAA', 'GetMetricData',
       'OneZoneIAStorage', 'CNAME', 'UploadPart',
       'InitiateMultipartUpload', 'ListSecrets', 'CreateSecret',
       'DescribeSecret', 'GetResourcePolicy', 'DescribeKey', 'List',
       'CreateBucket', 'GetKeyPolicy', 'GetKeyRotationStatus',
       'ListResourceTags', 'NS', 'ListTagsForResource', 'PTR', 'SRV',
       'ListSubscriptions', 'DeleteSecret',
       'ReadBucketServerSideEncryption', 'WriteBucketPolicy',
       'ReadBucketWebsite', 'ListTopics', 'ListKeys', 'ANY',
       'GetSecretValue', 'ExecutionStarted', 'StateRetry',
       'WriteBucketServerSideEncryption', 'ReadBucketCors',
       'ReadBucketInventory', 'ReadBucketOwnershipControls',
       'ReadLogProps', 'ReadRequestPaymentProps', 'GetRandomPassword',
       'CreateDBInstance', 'PutSecretValue', 'Not Applicable',
       'HostedZone', 'GenerateDataKey', 'CreateGrant',
       'ScheduleKeyDeletion', 'ListRepositories', 'ExecutionCompleted',
       'DeleteAlias', 'WriteBucketPublicAccessBlock', 'ReadAccelerate',
       'ReadBucketIntelligentTiering', 'ReadBucketLifecycle',
       'ReadNotificationProps', 'GET', 'CreateTopic',
       'CompleteMultipartUpload', 'ReadCostAllocation', 'CreateKey',
       'downloadLayer', 'GetMetricStatistics', 'BackupStorage',
       'GenerateDataKeyWithoutPlaintext', 'WriteCostAllocation',
       'WriteVersioningProps', 'EnableKeyRotation', 'Task', 'ListMetrics',
       'ReadBucketAnalytics', 'ReadBucketReplication'], dtype=object)

In [8]:
az2op = pd.DataFrame(df[df['AvailabilityZone'].notna()][['AvailabilityZone', 'Operation']].groupby(['AvailabilityZone'])['Operation'].unique())

for each in az2op.iterrows():
    print(each[0])
    print(each[1].tolist())
    print()
    
# AZ可以做啥

ap-northeast-1
[array(['CommittedThroughput', 'StandardStorage'], dtype=object)]

ap-northeast-1a
[array(['Hourly', 'RunInstances', 'T3CPUCredits', 'RunInstances:0002',
       'RunInstances:0010'], dtype=object)]

ap-northeast-1c
[array(['RunInstances', 'T3CPUCredits', 'RunInstances:0010'], dtype=object)]

ap-northeast-1d
[array(['RunInstances', 'Hourly'], dtype=object)]

ap-northeast-2a
[array(['RunInstances'], dtype=object)]

us-east-2
[array(['CommittedThroughput'], dtype=object)]

us-west-1
[array(['CreateDBInstance', 'Not Applicable', 'CreateDBInstance:0014'],
      dtype=object)]

us-west-1a
[array(['RunInstances'], dtype=object)]

us-west-1c
[array(['RunInstances'], dtype=object)]

### By User
1. Find alert threshold (rule-based)
2. model
### By ProductName 
### By Service

In [9]:
df['aws_createdBy'].unique()

array([nan, 'IAMUser:AIDAUJP5OVXBDUJ2EOQJH:Jaden.Mao',
       'IAMUser:AIDAUJP5OVXBKSMQY5DKG:neilguan',
       'IAMUser:AIDAUJP5OVXBPSQBM33Z2:ct-admin',
       'AssumedRole:AROAUJP5OVXBEV2S7G5FX:AutoScaling',
       'IAMUser:AIDAUJP5OVXBNWGZF4CL5:benkatsai',
       'IAMUser:AIDAUJP5OVXBF6LJ3Z6LL:Sam',
       'AssumedRole:AROAUJP5OVXBK7VONHMLJ:1604267547898754961',
       'AssumedRole:AROAUJP5OVXBJZCW7TRAG:AWSCloudFormation',
       'IAMUser:AIDAUJP5OVXBJXEFEVXCD:jameshsu',
       'IAMUser:AIDAUJP5OVXBGEHPWHNJ5:LeonLin',
       'IAMUser:AIDAUJP5OVXBFHQXHHQAL:CloudWen',
       'IAMUser:AIDAUJP5OVXBJUIVZMVBC:marcuskuo',
       'AssumedRole:AROAUJP5OVXBEGU6HTBBE:i-040c6bcb735a906fb',
       'AssumedRole:AROAUJP5OVXBIIVB5F65L:AWSCloud9Workspace-295273672130',
       'AssumedRole:AROAUJP5OVXBK7VONHMLJ:1611357218428526888',
       'AssumedRole:AROAUJP5OVXBFJJ2HV7HZ:3479c807-942e-40e8-816b-6b421e772c90'],
      dtype=object)

In [10]:
createby_df = df.dropna(subset=['aws_createdBy'])
iam_df = createby_df[createby_df['aws_createdBy'].str.contains('IAMUser')].copy()
iam_df['aws_createdBy'] = iam_df['aws_createdBy'].apply(lambda x: x[30:])

# iam_df
iam_df['aws_createdBy'].unique()
#使用頻率高、使用服務user

array(['Jaden.Mao', 'neilguan', 'ct-admin', 'benkatsai', 'Sam',
       'jameshsu', 'LeonLin', 'CloudWen', 'marcuskuo'], dtype=object)

In [11]:
iam_df.groupby(by='ProductName').count()

,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnBlendedCost,ResourceId,aws_createdBy
ProductName,,,,,,,,,
Amazon Elastic Compute Cloud,14277,14277,3319,14277,14277,14277,14277,14277,14277
Amazon Kinesis,672,672,0,672,672,672,672,672,672
Amazon Relational Database Service,18,18,12,18,18,18,18,18,18
Amazon Route 53,2192,2192,0,2192,2192,2192,2192,2192,2192
Amazon Simple Storage Service,9733,9733,0,9733,9733,9733,9733,9733,9733
OpenVPN Access Server (50 Connected Devices),582,582,582,582,582,582,582,582,582

In [12]:
iam_df = iam_df.reset_index(drop=True)
temp = iam_df.copy()
num = iam_df.shape[0]
time = 1
arr =[]
dic={}
for n in range(num):
    if n==num-1:
        arr.append(1)
        break
    nex = n+1
    nex2 = n+2
    first = iam_df.iloc[n:nex]['UsageEndDate'].squeeze()
    second = iam_df.iloc[nex:nex2]['UsageStartDate'].squeeze()
    if first == second:
        time += 1
        temp = temp.drop(nex)
    else:
        arr.append(time)
        time = 1
temp['period(h)']=arr

In [30]:
iam_df = temp.copy()

In [31]:
iam_col = iam_df.columns.tolist()
iam_col.remove('UsageStartDate')
iam_col.remove('UsageEndDate')
iam_col.remove('aws_createdBy')
iam_col.remove('period(h)')

In [32]:
iam_fre_df = iam_df.copy()
def fe_fun(col):
    for i in col:
        fe = iam_fre_df.groupby(i).size()/len(iam_fre_df)
        iam_fre_df.loc[:, i+'_freq_encode'] = iam_fre_df[i].map(fe)

fe_fun(iam_col)

In [33]:
iam_fre_df = iam_fre_df.drop(columns=['ProductName', 'UsageType', 'Operation', 'AvailabilityZone', 'UsageStartDate', 'UsageEndDate','ResourceId'])

In [34]:
iam_fre_df = iam_fre_df.dropna()

In [35]:
iam_fre_df

,UsageQuantity,UnBlendedCost,aws_createdBy,period(h),ProductName_freq_encode,UsageType_freq_encode,Operation_freq_encode,AvailabilityZone_freq_encode,UsageQuantity_freq_encode,UnBlendedCost_freq_encode,ResourceId_freq_encode
0,1.0,0.3000,Jaden.Mao,582,0.000041,0.000041,0.002111,0.039687,0.24371,0.000041,0.000041
582,1.0,0.0000,neilguan,1,0.480136,0.011670,0.321594,0.039687,0.24371,0.263160,0.002814
583,1.0,0.0000,ct-admin,1,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,0.058434
584,1.0,0.0000,ct-admin,2,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,0.058434
586,1.0,0.0000,ct-admin,1,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,0.058434
...,...,...,...,...,...,...,...,...,...,...,...
27407,1.0,0.0520,Jaden.Mao,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,0.101432
27420,1.0,0.0520,Jaden.Mao,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,0.101432
27452,1.0,0.0304,benkatsai,1,0.480136,0.011422,0.321594,0.039687,0.24371,0.011422,0.088975
27454,1.0,0.0520,Jaden.Mao,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,0.101432
27464,1.0,0.0520,Jaden.Mao,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,0.101432

In [36]:
iam_freq_col = iam_fre_df.columns.tolist()
iam_freq_col = iam_freq_col[:2] + iam_freq_col[3:-1]+ [iam_freq_col[2]]
iam_freq_col

['UsageQuantity',
 'UnBlendedCost',
 'period(h)',
 'ProductName_freq_encode',
 'UsageType_freq_encode',
 'Operation_freq_encode',
 'AvailabilityZone_freq_encode',
 'UsageQuantity_freq_encode',
 'UnBlendedCost_freq_encode',
 'aws_createdBy']

In [37]:
iam_fre_df = iam_fre_df[iam_freq_col]
iam_fre_df

,UsageQuantity,UnBlendedCost,period(h),ProductName_freq_encode,UsageType_freq_encode,Operation_freq_encode,AvailabilityZone_freq_encode,UsageQuantity_freq_encode,UnBlendedCost_freq_encode,aws_createdBy
0,1.0,0.3000,582,0.000041,0.000041,0.002111,0.039687,0.24371,0.000041,Jaden.Mao
582,1.0,0.0000,1,0.480136,0.011670,0.321594,0.039687,0.24371,0.263160,neilguan
583,1.0,0.0000,1,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,ct-admin
584,1.0,0.0000,2,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,ct-admin
586,1.0,0.0000,1,0.480136,0.011670,0.321594,0.008939,0.24371,0.263160,ct-admin
...,...,...,...,...,...,...,...,...,...,...
27407,1.0,0.0520,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,Jaden.Mao
27420,1.0,0.0520,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,Jaden.Mao
27452,1.0,0.0304,1,0.480136,0.011422,0.321594,0.039687,0.24371,0.011422,benkatsai
27454,1.0,0.0520,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,Jaden.Mao
27464,1.0,0.0520,1,0.480136,0.027396,0.321594,0.027396,0.24371,0.027396,Jaden.Mao

In [42]:
from sklearn.cluster import KMeans
import numpy as np
kmeans = KMeans(n_clusters=4, random_state=0).fit(iam_fre_df.iloc[: , :-1])
user_kmeans = kmeans.labels_
iam_fre_kmeans_df = iam_fre_df.assign(kmeans = user_kmeans)
iam_fre_kmeans_df['kmeans_num'] = iam_fre_kmeans_df['kmeans']
iam_fre_kmeans_df.iloc[:, -3:].groupby(by=['aws_createdBy', 'kmeans']).count()

                      kmeans_num
aws_createdBy kmeans
CloudWen      0               25
              2                4
              3               26
Jaden.Mao     0              970
              1                1
              2               16
              3               20
Sam           0              117
              2                2
benkatsai     0              416
              3                1
ct-admin      0              184
              2               28
              3                2
marcuskuo     0               83
              3                1
neilguan      0               87
              3                6

In [30]:
iam_df[iam_df['aws_createdBy'] =='Jaden.Mao'].groupby(by='ProductName').agg(np.std, ddof=0)

,UsageType,Operation,AvailabilityZone,UsageStartDate,UsageEndDate,UsageQuantity,UnblendedRate,UnBlendedCost,ResourceId,aws_createdBy
ProductName,,,,,,,,,,
Amazon Elastic Compute Cloud,NaN,NaN,NaN,NaN,NaN,0.446172,4.767083e-02,2.530219e-02,NaN,NaN
Amazon Simple Storage Service,NaN,NaN,NaN,NaN,NaN,14.711801,3.954981e-02,7.802895e-05,NaN,NaN
OpenVPN Access Server (50 Connected Devices),NaN,NaN,NaN,NaN,NaN,0.000000,5.551115e-17,5.551115e-17,NaN,NaN

In [29]:
iam_df[iam_df['aws_createdBy'] =='Jaden.Mao'].groupby(by='ProductName').mean()

,UsageQuantity,UnblendedRate,UnBlendedCost
ProductName,,,
Amazon Elastic Compute Cloud,0.255570,0.047404,0.013550
Amazon Simple Storage Service,5.285276,0.025759,0.000024
OpenVPN Access Server (50 Connected Devices),1.000000,0.300000,0.300000

In [8]:
assume_df = createby_df[createby_df['aws_createdBy'].str.contains('AssumedRole')].copy()
assume_df['aws_createdBy'] = assume_df['aws_createdBy'].apply(lambda x: x[34:])

# assume_df pass
assume_df['aws_createdBy'].unique()

array(['AutoScaling', '1604267547898754961', 'AWSCloudFormation',
       'i-040c6bcb735a906fb', 'AWSCloud9Workspace-295273672130',
       '1611357218428526888', '3479c807-942e-40e8-816b-6b421e772c90'],
      dtype=object)

In [9]:
df['ProductName'].unique()

array(['OpenVPN Access Server (50 Connected Devices)',
       'Amazon Elastic Compute Cloud', 'AmazonCloudWatch',
       'Elastic Load Balancing', 'Amazon Simple Storage Service',
       'AWS Data Transfer', 'AWS Global Accelerator',
       'AWS Secrets Manager', 'Amazon Relational Database Service',
       'AWS Key Management Service', 'Amazon Elastic Container Service',
       'Amazon Elastic Container Service for Kubernetes', 'AWS Amplify',
       'Amazon DynamoDB', 'Amazon Elastic Container Registry Public',
       'Amazon Kinesis', 'Amazon EC2 Container Registry (ECR)',
       'Amazon Elastic File System', 'AWS CloudTrail', 'Amazon Route 53',
       'AWS Lambda', 'Amazon Simple Notification Service',
       'Amazon Simple Queue Service', 'AWS Config', 'AWS Step Functions',
       'AWS CodeArtifact', 'Amazon CloudFront'], dtype=object)

In [11]:
compute_list = ['Amazon Elastic Compute Cloud', 'AWS Lambda',]
network_list = ['Elastic Load Balancing','AWS Global Accelerator','Amazon Route 53','Amazon CloudFront']
storage_list = ['Amazon Simple Storage Service', 'Amazon Elastic File System',]
montr_list = ['AWS CloudTrail', 'AWS Config', ]
app_list = ['Amazon Simple Notification Service', 'Amazon Simple Queue Service', 'AWS Step Functions',]
dev_list = [ 'AWS CodeArtifact',]
sec_list = ['AWS Secrets Manager','AWS Key Management Service',]
db_list = ['Amazon Relational Database Service', 'Amazon DynamoDB',]
ctr_list = ['Amazon Elastic Container Service','Amazon Elastic Container Service for Kubernetes','Amazon Elastic Container Registry Public', 'Amazon EC2 Container Registry (ECR)',]
fe_list = ['AWS Amplify',]
media_list = ['Amazon Kinesis',]

In [20]:
df[df['ProductName'].isin(compute_list)]['Operation'].unique()

array(['RunInstances', 'RunInstances:0010', 'T3CPUCredits',
       'RunInstances:0010:SV008', 'PublicIP-Out', 'InterZone-In',
       'InterZone-Out', 'CreateVolume-Gp2', 'Hourly',
       'AssociateAddressVPC', 'NatGateway', 'AWSGlobalAccelerator',
       'RunInstances:0002', 'PublicIP-In', 'Invoke', 'RunInstances:SV012',
       'RunInstances:SV008', 'CreateSnapshot', 'RunInstances:0010:SV012',
       nan], dtype=object)